
.person-container{
 display: grid;
 grid-template-columns: 3 1fr;
grid-gap: 15px;
border-right: 2px solid lightcyan;
margin-right: 5px; 
margin-left: 5px;
}
.person{
     display: grid;
    grid-template-columns: repeat(3,1fr)
    
}
/* cart-container design */
.cart-container{
    box-sizing: border-box;
    border-radius: 5px;
    background-color: rgb(5, 26, 41);
    width: 70%;
    height: 60%;
   text-align:  center;
    color: white;
}